:root {
  /* 头部高度 */
  --app-layout-header-height: 64px;
  /* 侧栏宽度 */
  --app-layout-sider-width: 220px;
}

:root[data-theme-key='shadcn'][data-theme-mode='light'] {
  /* 主色 */
  --app-color-primary: #000000;
  /* 主色 hover */
  --app-color-primary-hover: #0d0d0d;
  /* 主色 active */
  --app-color-primary-active: #000000;
  /* 主色文本 */
  --app-color-primary-text: #000000;
  /* 链接色 */
  --app-color-link: #000000;
  /* 链接色 hover */
  --app-color-link-hover: #1a1a1a;
  /* 链接色 active */
  --app-color-link-active: #000000;
  /* 文本色 */
  --app-color-text: rgba(0,0,0,0.88);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(0,0,0,0.65);
  /* 边框色 */
  --app-color-border: #d9d9d9;
  /* 边框色 secondary */
  --app-color-border-secondary: #f0f0f0;
  /* 布局背景色 */
  --app-bg-layout: #f5f5f5;
  /* 容器背景色 */
  --app-bg-container: #ffffff;
  /* 填充色 */
  --app-color-fill: rgba(0,0,0,0.15);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(0,0,0,0.06);
}

:root[data-theme-key='purple'][data-theme-mode='light'] {
  /* 主色 */
  --app-color-primary: #722ed1;
  /* 主色 hover */
  --app-color-primary-hover: #9254de;
  /* 主色 active */
  --app-color-primary-active: #531dab;
  /* 主色文本 */
  --app-color-primary-text: #722ed1;
  /* 链接色 */
  --app-color-link: #722ed1;
  /* 链接色 hover */
  --app-color-link-hover: #b37feb;
  /* 链接色 active */
  --app-color-link-active: #531dab;
  /* 文本色 */
  --app-color-text: rgba(0,0,0,0.88);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(0,0,0,0.65);
  /* 边框色 */
  --app-color-border: #d9d9d9;
  /* 边框色 secondary */
  --app-color-border-secondary: #f0f0f0;
  /* 布局背景色 */
  --app-bg-layout: #f5f5f5;
  /* 容器背景色 */
  --app-bg-container: #ffffff;
  /* 填充色 */
  --app-color-fill: rgba(0,0,0,0.15);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(0,0,0,0.06);
}

:root[data-theme-key='td-blue'][data-theme-mode='light'] {
  /* 主色 */
  --app-color-primary: #1677ff;
  /* 主色 hover */
  --app-color-primary-hover: #4096ff;
  /* 主色 active */
  --app-color-primary-active: #0958d9;
  /* 主色文本 */
  --app-color-primary-text: #1677ff;
  /* 链接色 */
  --app-color-link: #1677ff;
  /* 链接色 hover */
  --app-color-link-hover: #69b1ff;
  /* 链接色 active */
  --app-color-link-active: #0958d9;
  /* 文本色 */
  --app-color-text: rgba(0,0,0,0.88);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(0,0,0,0.65);
  /* 边框色 */
  --app-color-border: #d9d9d9;
  /* 边框色 secondary */
  --app-color-border-secondary: #f0f0f0;
  /* 布局背景色 */
  --app-bg-layout: #f5f5f5;
  /* 容器背景色 */
  --app-bg-container: #ffffff;
  /* 填充色 */
  --app-color-fill: rgba(0,0,0,0.15);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(0,0,0,0.06);
}

:root[data-theme-key='shadcn'][data-theme-mode='dark'] {
  /* 主色 */
  --app-color-primary: #030303;
  /* 主色 hover */
  --app-color-primary-hover: #0e0e0e;
  /* 主色 active */
  --app-color-primary-active: #070707;
  /* 主色文本 */
  --app-color-primary-text: #030303;
  /* 链接色 */
  --app-color-link: #030303;
  /* 链接色 hover */
  --app-color-link-hover: #0b0b0b;
  /* 链接色 active */
  --app-color-link-active: #070707;
  /* 文本色 */
  --app-color-text: rgba(255,255,255,0.85);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(255,255,255,0.65);
  /* 边框色 */
  --app-color-border: #424242;
  /* 边框色 secondary */
  --app-color-border-secondary: #303030;
  /* 布局背景色 */
  --app-bg-layout: #000000;
  /* 容器背景色 */
  --app-bg-container: #141414;
  /* 填充色 */
  --app-color-fill: rgba(255,255,255,0.18);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(255,255,255,0.12);
}

:root[data-theme-key='purple'][data-theme-mode='dark'] {
  /* 主色 */
  --app-color-primary: #8760cf;
  /* 主色 hover */
  --app-color-primary-hover: #af8de5;
  /* 主色 active */
  --app-color-primary-active: #6c4ea3;
  /* 主色文本 */
  --app-color-primary-text: #8760cf;
  /* 链接色 */
  --app-color-link: #8760cf;
  /* 链接色 hover */
  --app-color-link-hover: #513c77;
  /* 链接色 active */
  --app-color-link-active: #6c4ea3;
  /* 文本色 */
  --app-color-text: rgba(255,255,255,0.85);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(255,255,255,0.65);
  /* 边框色 */
  --app-color-border: #424242;
  /* 边框色 secondary */
  --app-color-border-secondary: #303030;
  /* 布局背景色 */
  --app-bg-layout: #000000;
  /* 容器背景色 */
  --app-bg-container: #141414;
  /* 填充色 */
  --app-color-fill: rgba(255,255,255,0.18);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(255,255,255,0.12);
}

:root[data-theme-key='td-blue'][data-theme-mode='dark'] {
  /* 主色 */
  --app-color-primary: #3479dc;
  /* 主色 hover */
  --app-color-primary-hover: #5b9ae8;
  /* 主色 active */
  --app-color-primary-active: #2d61ad;
  /* 主色文本 */
  --app-color-primary-text: #3479dc;
  /* 链接色 */
  --app-color-link: #3479dc;
  /* 链接色 hover */
  --app-color-link-hover: #254a7e;
  /* 链接色 active */
  --app-color-link-active: #2d61ad;
  /* 文本色 */
  --app-color-text: rgba(255,255,255,0.85);
  /* 文本色 secondary */
  --app-color-text-secondary: rgba(255,255,255,0.65);
  /* 边框色 */
  --app-color-border: #424242;
  /* 边框色 secondary */
  --app-color-border-secondary: #303030;
  /* 布局背景色 */
  --app-bg-layout: #000000;
  /* 容器背景色 */
  --app-bg-container: #141414;
  /* 填充色 */
  --app-color-fill: rgba(255,255,255,0.18);
  /* 填充色 secondary */
  --app-color-fill-secondary: rgba(255,255,255,0.12);
}
